@charset "utf-8";

.container {
    width: 300px;
    height: 70px;
    margin: 0 auto;
    background-color: #444; 
}

h1 {
    text-align: center;
    line-height: 70px;
    text-shadow: 3px 2px 5px yellow; /* x축 y축 그림자 정도 */
    color: white;
}